@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

* {
  font-family: 'Roboto', sans-serif;
}
body {
  /* background-color: #fffbe7; */
}
#videoElement {
  width: 500px;
  height: 375px;
  background-color: #666;
}

#topMenu {
  background-color:gainsboro;
  width: 100%;
  float: right;
  /* 오른쪽으로 text가 따라 붙지 않도록 함. 아래로 이동*/
  /* clear: right; */
}
#topMenu ul li {
  list-style: none;
}
.icon {
  float: right;
  margin: 5px;
  padding: 5px;
  font-size: 1.5rem;
  color: black;
}
.fa-caret-down {
    font-size: 1rem;
}
.icon:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: green; */
}
.block {
  width:300px;
  font-size: 50px;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.block:hover {
  cursor: pointer;
}
#home, #listen, #setting {
  display: none;
}
#word-en {
  font-size: 150px;
}
#word-ko {
  font-size: 80px;
}
