<nav id="navibar">
  <ul>
    <li><a id="logo" href="/">edutech</a></li>
    <button id="signUp" class="icon btn btn-light" type="button" onclick="location.href='/sign'" style="display: none;">Sign</button>
    <div id="icons" style="display: none;">
    <li class="icon">
      <div data-toggle="dropdown">
        <i id="mypage" class="far fa-user-circle"></i>
        <i class="fas fa-caret-down"></i>
      </div>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">   
        <li><a class="dropdown-item" href="/accounts/mypage">Your profile</a></li>
        <li><a id="chart" class="dropdown-item" href="/accounts/mychart">Your study chart</a></li>
        <li><hr class="dropdown-divider"></li>     
        <li><a class="dropdown-item" href="/accounts/settings">Settings</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" onclick=logout()>Sign out</a></li>
      </ul>
    </li>
    <li class="icon">
      <div data-toggle="dropdown">
        <i class="bi bi-plus"></i>
        <i class="fas fa-caret-down"></i>
      </div>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">            
        <li><a class="dropdown-item" href="#">dd</a></li>
        <li><a class="dropdown-item" href="#">asds</a></li>
        <li><a class="dropdown-item" href="#">asds</a></li>
        <li><a class="dropdown-item" href="#">asds</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">asds</a></li>
        <li><a class="dropdown-item" href="#">asds</a></li>
        <li><a class="dropdown-item" href="#">asds</a></li>
      </ul>
    </li>
    <!-- <li>
      <a href="#"
        ><i id="listen" class="icon bi bi-music-note-beamed"></i
      ></a>
    </li> -->
    <li class="icon"><i id="noti" class="far fa-bell"></i></li>
    <li class="icon"><i id="setting" class="fas fa-cog"></i></li>
    <li class="icon"><i id="home" class="fas fa-home"></i></li>
  </div>
  </ul>
</nav>
  