@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

/* CSS Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

* {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
#noUser {
  margin-top: 100px;
  text-align: center;
  font-size: 24px;
}
#videoElement {
  width: 500px;
  height: 375px;
  background-color: #666;
}

#navibar {
  /* position: fixed; */
  background-color: gainsboro;
  width: 100%;
  height:60px;
  /* float: right; */
  /* 오른쪽으로 text가 따라 붙지 않도록 함. 아래로 이동*/
  /* clear: right; */
}
#navibar ul li {
  list-style: none;
  line-height: 40px;
}
#logo {
  margin-left: 20px;
  text-decoration: none;
  float: left;
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  color: darkslategray;
}
.icon {
  float: right;
  margin: 5px;
  padding: 5px;
  font-size: 1.5rem;
  color: black;
}
.icon:hover, #icon-listen:hover {
  cursor: pointer;
  color: cornflowerblue;
}
#icon-listen {
  z-index: 10;
  position: fixed;
  margin: 30px;
  margin-top: 90px;
  padding: 10px;
  right: 5px;
}

.fa-caret-down {
  font-size: 1rem;
}

.miniTitle {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}
.container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: green; */
}
.block {
  width:300px;
  font-size: 40px;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.block:hover {
  cursor: pointer;
}
#home, #listen, #setting {
  display: none;
}
.study-title {
  font-size: 120px;
}
.study-detail {
  font-size: 60px;
}
.btn-success, .btn-danger {
  margin-top: 30px;
  font-size: 30px;
  width: 70px;
  line-height: 50px;
}


/* signUp */
#signUp {
  margin: 10px 20px;
  width: 80px;
  font-size: 18px;
  text-decoration: none;
  color: #777;
}
.main-div, .loggedin-div {
  text-align: center;
  width: 500px;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
}
.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}
.main-div input:focus {
  border: 1px solid #777;
}
.main-div h3, .loggedin-div h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}
.main-div button, .loggedin-div button {
  margin: 10px auto;
  background: #5d8ffc;
  color: #fff;
  border: 0px transparent;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  -webkit-transform: 0.3s;
  -moz-transform: 0.3s;
}
.main-div button:hover, .loggedin-div button:hover{
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}
.border {
  background: #ccc;
  height: 1px;
  margin: 45px auto;
}
#login-google {
  background: #db3236;
}
#login-facebook {
  background: #3b5998;
}
#login-google:hover {
  background: #fff;
  color: #db3236;
  border: 1px solid #db3236;
  cursor: pointer;
}
#login-facebook:hover {
  background: #fff;
  color: #3b5998;
  border: 1px solid #3b5998;
  cursor: pointer;
}

/* profile */
.profile {
  width: 500px;
  margin: 20px auto;
  text-align: center
}
.table {
  margin-top: 50px;
}
#welcome {
  font-weight: bold;
  margin: 40px;
}
#photoURL {
  border-radius: 100%;
}
#displayName {
  line-height: 30px;
}
#email {
  color: #5f6368;
}

/* study */
.study-container {
  margin: 20px;
}
.study {
  width: 300px;
  height: 200px;
  font-size: 40px;
  margin: 20px;
  text-align: center;
  white-space: normal;
}

/* mycahrt */
.chart-container {
  display: flex;
  margin: 20px;
}
.nav {
  width: 200px;
  display: absolute;
}
.tab-content {
  display: inline-block;
  margin: 0 auto;
}
